@{
    ViewData["Title"] = "Home Page";
}

 <div id="header">
        <div class="header-menü">
            <nav class="navbar navbar-expand-lg navbar-light">
              <div class="container">
                <a class="navbar-brand" href="#"><img src="/images/navbar-icon.png" alt=""></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                      <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Abaut</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Igredients</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Menu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Reviews</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Reservations</a>
                    </li>
                    <li class="nav-item">
                        <i class="fa fa-twitter fa-2x"></i>
                    </li>
                    <li class="nav-item">
                        <i class="fa fa-facebook-f fa-2x"></i>
                    </li>
                    <li class="nav-item">
                        <i class="fa fa-youtube fa-2x"></i>
                    </li>
                  </ul>
                </div>
                </div>
              </nav>
        </div>
        <div class="header-body">
            <div class="row">
                <div class="col-md-12">
                  <h1 align="center">the right ingredients fori the right foodt</h1>
                </div>
                <div class="col-md-12">
                  <div align="center" class="text-img">
                    <img src="/images/text-süs.png" alt="">
                  </div>
                </div>
           </div>
           <div class="menü-button">
            <div align="center" class="row">
             <div class="col-md-6 button1">
                <button>BOOK A TABLE</button>
              </div>
              <div class="col-md-6 button2">
                  <button>SEE THE MENÜ</button>
              </div>
            </div>
          </div>
           </div>
        </div>
        <div id="header-alt">
          <div class="container">
            <div class="row">
              <div class="col-md-6">
                  <h1 class="header-alt-baslik">just the right food</h1>
                  <div align="center" class="header-alt-img">
                    <img src="/images/text-süs-turuncu.png" alt="">
                  </div>
                  <p class="header-alt-p">If you’ve been to one of our restaurants, you’ve seen – and tasted – what keeps our customers coming back for more. Perfect materials and freshly baked food, delicious Lambda cakes,  muffins, and gourmet coffees make us hard to resist! Stop in today and check us out!</p>
                  <div align="center" class="header-alt-profil">
                    <img src="/images/header-alt-profil.png" alt="">
                  </div>
              </div>
              <div class="col-md-6">
                <div align="center" class="header-alt-tabak">
                  <img src="/images/header-alt-tabak.png" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="gövde">
          <div class="container">
            <div class="row">
                <div class="col-md-6">

                </div>
                <div class="col-md-6">
                    <div align="center" style="background-color:rgba(204, 153, 0, 0.5);" class="black-shadow">
                        <div  class="black-shadow-end">
                        <h1 style="opasity:1.0">Fine ingredients</h1>
                        <img align="center" src="/images/text-süs.png" alt="">
                            <p align="center">If you’ve been to one of our restaurants, you’ve seen – and tasted – what keeps our customers coming back for more. Perfect materials and freshly baked food, delicious Lambda cakes,  muffins, and gourmet coffees make us hard to resist! Stop in today and check us out!</p> 
                                <div class="black-shadow-box">
                                    <div class="row">
                                        <div class="col-md-4 black-shadow-img">
                                            <img src="/images/black-shadow-img1.png" alt="">
                                        </div>
                                         <div class="col-md-4 black-shadow-img">
                                            <img src="/images/black-shadow-img2.png" alt="">
                                        </div>
                                         <div class="col-md-4 black-shadow-img">
                                            <img src="/images/black-shadow-img3.png" alt="">
                                        </div>
                                    </div>
                                </div>
                         </div>
                    </div>
                    
                </div>
            </div>
           </div>
        </div>
        <div id="menü-alanı">
          <div class="container">
            <div class="row">
              <div class="col-md-6">
                <div style="margin-top:50px;" class="menü-alani">
                  <h1 class="menü-alani-baslik">Appesiters</h1>
                  <div style="margin-left:-100px" align="center"><img src="/images/text-süs-turuncu.png" alt=""></div>
                  <h1 class="menü-alani-h1">Tzatsiki &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; $3.99</h1>
                  <p class="menü-alani-p">Refreshing traditional cucumber and garlic yoghurt dip.</p>
                  <h1 class="menü-alani-h1">Aubergine_Salad&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; $5.50</h1>
                  <p class="menü-alani-p">Pureed eggplant, garlic, green pepper and tomato dip.</p>
                  <h1 class="menü-alani-h1">Aubergine_Salad &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; $5.25</h1>
                  <p class="menü-alani-p">Pureed eggplant, garlic, green pepper and tomato dip.</p>
                </div>
              </div>
              <div class="col-md-6">
                 <div style="margin-top:50px;" class="menü-alani">
                  <h1 class="menü-alani-baslik">Starters</h1>
                  <div style="margin-left:-100px" align="center"><img src="/images/text-süs-turuncu.png" alt=""></div>
                  <h1 class="menü-alani-h1">Haloumi  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; $3.99</h1>
                  <p class="menü-alani-p">Refreshing traditional cucumber and garlic yoghurt dip.</p>
                  <h1 class="menü-alani-h1">pinach_Pie&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; $5.50</h1>
                  <p class="menü-alani-p">Pureed eggplant, garlic, green pepper and tomato dip.</p>
                </div>
              </div>
          </div>
          <div class="row">
              <div class="col-md-6">
                <div style="margin-top:50px;" class="menü-alani">
                  <h1 class="menü-alani-baslik">Salads</h1>
                  <div style="margin-left:-100px" align="center"><img src="/images/text-süs-turuncu.png" alt=""></div>
                  <h1 class="menü-alani-h1">Olive_Special  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; $5.99</h1>
                  <p class="menü-alani-p">Refreshing traditional cucumber and garlic yoghurt dip.</p>
                  <h1 class="menü-alani-h1">Greek_Salad&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; $5.50</h1>
                  <p class="menü-alani-p">Pureed eggplant, garlic, green pepper and tomato dip.</p>
                  <h1 class="menü-alani-h1">Gusto_Salad &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; $5.25</h1>
                  <p class="menü-alani-p">Pureed eggplant, garlic, green pepper and tomato dip.</p>
                </div>
              </div>
              <div class="col-md-6">
                 <div style="margin-top:50px;" class="menü-alani">
                  <h1 class="menü-alani-baslik">Main Dishes</h1>
                  <div style="margin-left:-100px" align="center"><img src="/images/text-süs-turuncu.png" alt=""></div>
                  <h1 class="menü-alani-h1">Cornish_Mackerel&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; $5.99</h1>
                  <p class="menü-alani-p">Refreshing traditional cucumber and garlic yoghurt dip.</p>
                  <h1 class="menü-alani-h1">Roast_Lamb&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; $5.50</h1>
                  <p class="menü-alani-p">Pureed eggplant, garlic, green pepper and tomato dip.</p>
                  <h1 class="menü-alani-h1">Fried_Chicken &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; $5.25</h1>
                  <p class="menü-alani-p">Pureed eggplant, garlic, green pepper and tomato dip.</p>
                  <h1 class="menü-alani-h1">Pastitsio &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; $5.25</h1>
                  <p class="menü-alani-p">Pureed eggplant, garlic, green pepper and tomato dip.</p>
                </div>
              </div>
          </div>
          </div>
        </div>
        <div id="alt-gövde">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div style="background-color:rgba(0, 0, 0, 0.5);" class="alt-gövde-box">
                  <h1 align="center" style="opacity:1.0;">Guest Reviews</h1>
                  <div align="center" class="alt-gövde-img">
                    <img src="/images/text-süs.png" alt="">
                  </div>
                   <p align="center">If you’ve been to one of our restaurants, you’ve seen – and tasted – what keeps our customers coming back for more. Perfect materials and freshly baked food, delicious Lambda cakes,  muffins, and gourmet coffees make us hard to resist! Stop in today and check us out!
                      - food inc, New York</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="son-gövde">
          <div class="container">
            <div class="row">
              <div class="col-md-6">
                <div class="row son-gövde-imgs">
                 <div class="col-md-6 kahvaltı"><img width="200px;" height="400px;" src="/images/kahvaltı.png" alt=""></div>
                 <div class="col-md-6 kiraz"><img width="200px;" height="400px;" src="/images/kiraz.png" alt=""></div>
                 </div>
              </div>
              <div align="center" class="col-md-6">
                <h1 class="form-üst-baslik">Just the right food</h1>
                <div><img src="/images/text-süs-turuncu.png" alt=""></div>
                <p class="form-üst-parag-1">If you’ve been to one of our restaurants, you’ve seen – and tasted – what keeps our customers coming back for more. Perfect materials and freshly baked food.
                </p>
                <p class="form-üst-parag-2">Delicious Lambda cakes,  muffins, and gourmet coffees make us hard to resist! Stop in today and check us out! Perfect materials and freshly baked food.
                </p>
                <div align="left" class="row">
                  <div class="col-md-6">
                    <h1 class="form-text">Name</h1>
                    <input size="30" class="form-input" placeholder="Your Name*" type="text">
                    <h1 class="form-text">Date</h1>
                    <input class="form-input" placeholder="Date*" type="text">
                  </div>
                  <div class="col-md-6">
                    <h1 class="form-text">Name</h1>
                    <input class="form-input" placeholder="Your Email*" type="text">
                    <h1 class="form-text">Party Number</h1>
                    <input class="form-input" placeholder="Party number*" type="text">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> 