html,
body,
#header {
  width: 100%;
  height: 100%;
}
.row{
  margin-left: 0;
  margin-right: 0;
}
#header {
  background: url("/images/resim.jpg") no-repeat center center fixed;
  background-size: cover;
}
.navbar-brand {
  padding: 0;
  margin: 0;
}
.navbar-brand img {
  width: 100px;
}
.navbar-nav .nav-link {
 
  position: relative;
  font-family: 'Gentium Book Basic', serif;
  font-size: 21px;
  margin-left: 30px;
  transition: all .5s;
  /*overflow: hidden;*/
  color: white !important;
}
.nav-link:before{
  color: #5c482f;
  content: '';
  width: 100%;
  position: absolute;
  bottom: 0;
  transition: all .5s;
}
.nav-link:hover:before {
   border-bottom:  8px solid #5c482f;
 }
.nav-link:hover{
  color: #5c482f !important;
}

.fa {
  color: #dab33e;
  margin-left: 10px;
  font-size: 20px;
  margin-top: 10px;
  cursor: pointer;
}
.header-body h1 {
  color:white;
  font-family: 'Yeseva One', cursive;
  font-size: 90px;
  margin: 0 auto;
  max-width: 1000px;
  margin-top: 10%;
}
.header-body .text-img {
  margin-top: 20px;
}
.header-body .menü-button .row {
  max-width: 300px;
  margin: 0 auto;
}
.header-body .menü-button .row button {
  width: 150px;
  padding: 10px 20px 10px 20px;
  margin-top: 20px;
}
.header-body .menü-button .button1 button {
  border: none;
  color: white;
  background-color: black;
  opacity: 0.5;
  cursor: pointer;
  display: block;
  font-size: 15px;
  margin-left: -35px;
}
.header-body .menü-button .button2 button {
  border: none;
  color: black;
  background-color: #f4f3ee;
  border: 1px solid #e7e2cd;
  opacity: 0.5;
  cursor: pointer;
  display: block;
  font-size: 15px;
}
#header-alt {
   background: url("/images/bg.png") no-repeat center center fixed;
  background-size: cover;
}
#header-alt .header-alt-baslik {
  font-family: 'Yeseva One', cursive;
  color: #cc9900;
  text-align: center;
  margin-top: 70px;
  font-size: 36px;
}
#header-alt .header-alt-img {
  margin-bottom: 20px;
}
#header-alt .header-alt-p {
  font-family: 'Lato', sans-serif;
  font-size: 19px;
  text-align: center;
}
#header-alt .header-alt-profil {
  margin-left: 100px;
  margin-top: 50px;
}
#header-alt .header-alt-tabak {
  margin-top: 30px;
}
#gövde{
    background: url("/images/çiçekli.png") no-repeat center center fixed;
    background-size: cover;
}
.black-shadow{
    padding: 80px;
    margin-top: 100px;
    margin-bottom: 100px;
}
.black-shadow-end{
    text-align: center;
    color: white;
   
}
.black-shadow-box .row{
    max-width: 400px;
    margin: 0 auto;
    margin-top: 50px;
}
#menü-alanı{
  background: url("/images/bg.png") no-repeat center center fixed;
  background-size: cover;
}
.menü-alani-h1{
  max-width: 450px;
  padding: 0;
  font-size: 16px;
  color: #cc9900;
  font-family: 'Yeseva One', cursive;
  border-bottom: 1px solid #cc9900;;
}
.menü-alani-p{
  font-size: 15px;
  color: black;
  font-family: 'Yeseva One', cursive;
}
.menü-alani-baslik{
  font-size: 36px;
  color: #cc9900;
  font-family: 'Yeseva One', cursive;
  text-align: center;
  margin-left: -100px;
}
#alt-gövde{
  background: url("/images/et-tava.png") no-repeat center center fixed;
  background-size: cover;
}
#alt-gövde .row{
  max-width: 600px;
  margin:0 auto;
}
.alt-gövde-box{
  margin-top: 50px;
  padding: 80px;
  margin-bottom: 50px;
}
.alt-gövde-box h1{
  color: white;
  font-size: 36px;
  font-family: 'Yeseva One', cursive;
}
.alt-gövde-box p{
  color: white;
  font-family: 'Gentium Book Basic', serif;
  font-size: 16px;
}
#son-gövde{
  background: url("/images/bg.png") no-repeat center center fixed;
  background-size: cover;
}
.son-gövde-imgs{
  margin-top: 70px;
  margin-bottom: 70px;
  max-width: 450px;
}
.form-üst-baslik{
  color: #cc9900;
  font-size: 36px;
  font-family: 'Yeseva One', cursive;
  margin-top: 70px;
}
.form-üst-parag-1{
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: bold;
}
.form-üst-parag-2{
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: bold;
}
.form-text{
  color: #cc9900;
  font-size: 16px;
}
.form-input{
  width: 250px;
  height: 40px;
  transition: all .5s;
  border: 1px solid black;
}
.form-input:focus{
  border: 3px solid #cc9900;
}
#footer{
  background-color: #191919;
}
.footer-alt-baslik{
  color: white;
  font-size: 36px;
  font-family: 'Yeseva One', cursive;
  margin-top: 70px;
}
.footer-alt-p{
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  
  color: white;
}



